* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9fbfd;
  font-family: "Space Mono", monospace;
  max-width: 1024px;
  margin: auto;
}

.layout {
  background-color: #0f4a7b;
  color: #fff;
  padding: 2rem;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout a {
  text-decoration: none;
}

.layout p {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.footer {
  height: 10vh;
}

.footer p {
  font-size: 1rem;
}

.form-container {
  background: #fff;
  padding: 2rem 4rem;
}

.form-container .table {
  margin-top: 2rem;
}

.form-group {
  margin: 1rem 0;
}

.form-group label {
  font-size: 1rem;
  font-weight: 700;
}

.form-control {
  background: transparent;
  border: 1px solid #0f4a7b;
  padding: 0.7rem;
  outline: none;
  margin: 0.5rem 0;
  width: 50%;
  border-radius: 5px;
}

.btn {
  background: #0f4a7b;
  color: #fff;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn-white {
  color: #fff;
}

.container {
  background: #fff;
  margin: 1rem 0;
  padding: 2rem;
}

.edit {
  background: #a94442;
}

.delete {
  border: 1px solid #0f4a7b;
  background: transparent;
  color: #0f4a7b;
  margin-left: 1rem;
}

.isInvalid {
  border: 1px solid #a94442;
}

.error {
  color: #a94442;
}
